<div id="screen">
  <h1>Wordle</h1>
  <div id="grid"></div>
  <div id="keyboard"></div>
</div>
<style>
  body,
  html {
    background: #111;
    color: white;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
  body,
  html,
  #screen {
    height: 100%;
    width: 100%;
  }
  #screen {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 42px;
    flex: none;
  }
  #grid {
    flex: 1 1 auto;
  }
  .button {
    text-transform: uppercase;
    padding: 15px;
    margin: 3px;
    border-radius: 5px;
    height: 60px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
  #keyboard {
    flex: none;
    padding: 20px;
  }
  .cell {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #aaa;
    display: inline-block;
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
  }
</style>
<script src="index.js"></script>
